.active{
    transform: scale(1.3);
    z-index:2 !important;
    opacity: 1 !important;
}

.clicked{
    opacity: 1 !important;
}

.displayNone{
    display:none;
}

.noClick{
    pointer-events: none;
}

.start{
    transform: scale(0.95);
}