@import "./jsClasses";
@import "./mediaq";

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  :root {
    color:black;
    font-family: 'VT323', monospace;
  }
  
  main{
      width:100%;
      height:100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: black;
      background-image: url(../Assets/background1.jpg);background:linear-gradient(0deg, rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.95)), url(../Assets/background1.jpg);
      background-size: cover;
      color:white;
  }

  #alertsModal{
    position: absolute;
    width:100%;
    z-index:3;
    margin: 0 auto;
    top:0.5rem;
    text-align: center;
    margin: 0 auto;
    font-size: 3rem;
    color:white;
  }
  
  #gameDevice{
      width:400px;
      height:400px;
      position:relative;
      background-color:rgb(41, 41, 41);
      border-radius: 13%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      }

      #startStop{
        width:175px;
        height:175px;
        position:absolute;
        margin: 0 auto;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
        z-index:2;
        cursor: pointer;
        background-color: rgb(19, 19, 19);
        border: solid 6px rgba(255, 255, 255, 0.90);
        border-radius: 25%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 4rem;
        color:rgba(255, 255, 255, 0.90);
      }

      .pad{
        width: 200px;
        height: 200px;
        cursor: pointer;
        z-index:1;
        opacity:0.3;
      }

      #pad0{
        background-color: rgb(38, 96, 230);
        border-top-left-radius:25%;    
      }
      #pad1{
        background-color: rgb(75, 196, 34);
        border-top-right-radius:25%;
      }
      #pad2{
        background-color: rgb(118, 29, 141);
        border-bottom-left-radius:25%;
      }
      #pad3{
        background-color: rgb(224, 224, 31);
        border-bottom-right-radius:25%;
      }
  